@{
    ViewBag.Title = "News Page";
}
<h1>Новости</h1>
@section MyTable
{
    <table>
        <tr>
            <th>Ид</th>
            <th>Заголовок</th>
            <th>Текст</th>
            <th>Автор</th>
            <th>Фейк</th>
        </tr>

        @foreach (var bag in ViewBag.news)
        {
            <tr>
                <td>@bag.Id</td>
                <td>@bag.Title</td>
                <td>@bag.Text</td>
                <td>@bag.AuthorName</td>
                <td>@bag.IsFake</td>
            </tr>
        }
    </table>
} 